* {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: black;
  color: rgb(154, 154, 154);
  display: flex;
  border: none;
  justify-content: space-between;
  width: 100%;
  border-bottom: 2px solid rgb(114, 171, 0);
  align-items: center;
  height: 125px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 50px;
}
.left_sec_header {
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 40px;
  flex-flow: column wrap;
}
.creg_saint {
  margin-top: 40px;
  margin-bottom: 0%;
  padding-bottom: 0%;
}
.job_title {
  color: #4a9b21;
  font-size: 22px;
  margin-bottom: 20px;
  margin-top: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}
header h1 {
  font-size: 40px;
  color: rgb(114, 171, 0);
}
.greg {
  font-size: 51px;
}
.saint {
  font-size: 51px;
  color: rgb(154, 154, 154);
}
nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  decoration: none;
  list-style: none;

  margin-right: 100px;
  margin-top: 80px;
  text-align: center;
  margin-bottom: 0px;
}

li {
  border-top: 1px solid rgb(154, 154, 154);
  justify-content: space-between;
  margin-left: 10px;
  margin-bottom: 0px;
  width: 96px;
  height: 22px;
  position: relative;
  box-sizing: border-box;
  overflow: visible;
  visibility: inherit;
  padding: 8px;
}
li:hover {
  color: rgb(114, 171, 0);
  border-top: 4px solid rgb(114, 171, 0);
}

.first_section {
  background-color: #f8f8f8;
  width: 70%;
  margin-left: 40px;
  line-height: 1.5em;
  line-height: 1.6em;
  font-size: 15px;
  margin-bottom: 100px;
  margin-right: 40px;
  border: 1px solid #cdcdcd;
  display: flex;
  flex-flow: row;
  color: rgb(73, 73, 73);
  height: 200px;
  width: 918px;
  margin: 0 auto;
  text-align: left;
  flex-flow: column;
}

.title_sec1 {
  text-align: left;
  margin-left: 50px;
  font-size: 25px;
  color: #71ab23;
  margin-left: 50px;
}
.para_sec1 {
  margin-left: 50px;
  margin-right: 50px;
  line-height: 1.6em;
  font-size: 15px;
}
#sec2,
#sec3,
#sec4 {
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.title_sec2 {
  border-bottom: 1px solid #cdcdcd;
  width: 75%;
  margin-left: 180px;
  text-align: left;
  margin-top: 70px;
  color: rgb(121, 120, 120);
  font-size: 25px;
  padding-bottom: 15px;
}
.img_sec2,
.img_sec4,
.img_sec3 {
  background-color: #f8f8f8;
  border: 1px solid #ece8e8;
  margin-left: 180px;
  margin-top: 30px;
  padding: 20px;
  margin-left: 0px;
  border-radius: 3px;
  margin-right: 30px;
  margin-bottom: 20px;
}
.part1_sec2,
.part1_sec3,
.part1_sec4 {
  display: flex;
  flex-flow: row;
  border-bottom: 1px solid #cdcdcd;
  width: 73%;
  margin-left: 180px;
  padding-left: 0px;
  padding-left: 30px;
  color: rgb(121, 120, 120);
  font-style: normal;
  font-size: 20px;
  line-height: normal;
  letter-spacing: normal;
  line-height: 1.6em;
  font-size: 15px;
  font-weight: normal;
}

.para1_sec2::first-line,
.para1_sec3::first-line,
.para1_sec4::first-line {
  color: #71ab23;
  font-size: 15px;
}
#last_section {
  display: flex;
  flex-flow: row-reverse;
  font-size: 20px;
  line-height: normal;
  letter-spacing: normal;
  line-height: 1.6em;
  font-size: 20px;
  width: 73%;
  margin-left: 180px;
  padding-left: 0px;
  padding-left: 30px;
  color: rgb(121, 120, 120);
  font-style: normal;
  justify-content: space-between;
  padding-left: 0%;
  color: #71ab23;
}
.title_last_sec {
  width: 75%;
  margin-left: 180px;
  text-align: left;
  margin-top: 25px;
  color: rgb(121, 120, 120);
  font-size: 25px;
  padding-bottom: 15px;
  font-size: 30px;
  line-height: 1em;
  font-weight: bold;
  margin-bottom: 0px;
}
.right_para,
.left_para {
  margin-right: 75px;
  margin-top: 0px;
  padding-top: 0px;
}
.author {
  color: rgb(121, 120, 120);
  margin-top: 25px;
}
